# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380

# NextAuth
# NEXTAUTH_SECRET 생성: openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Kakao OAuth (https://developers.kakao.com)
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
